name: Automated tests
on:
  - push
  - pull_request

jobs:
  test: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Pytest
        run: |
          source .venv/bin/activate
          coverage run -m pytest --maxfail=5 --disable-warnings
          coverage report -m --fail-under=98
          coverage html # optional report generation
          coverage xml
      - name: Upload Coverage Report
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-reports
          path: |
            htmlcov
            coverage.xml